$primary-white: rgba(255, 255, 255, 1);
$opaque-white: whitesmoke;
$primary-crimson: rgba(220, 20, 60, 1);
$opague-black: rgba(0, 0, 0, .6);
$primary-black: rgba(0, 0, 0, 1);
$secondary-black: #333;
$body-font: 14px;
$primary-padding: 7px;
$primary-margin: 7px;
$slim-font: 100;
$heavy-font: 700;
