@import url('https://fonts.googleapis.com/css?family=Roboto:100,400');
@import 'variables';

a {
  color: $primary-crimson !important;
  cursor: pointer;
}

.transparent-theme {
 background: $opague-black;
 color: $primary-white;
 font-size: $body-font;
}

body {
 @extend .transparent-theme;
  background-repeat: no-repeat;
  background-size: 100wh 100vh;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

.document-stack {
  @extend .transparent-theme;
  margin-bottom: $primary-margin;
  height: 230px;
  position: relative;
}

.app-alert {
  padding: $primary-padding;
  font-size: $body-font;
}

input, .app-select-dropdown div div {
  color: $primary-white !important;
}

.each-document-in-stack {
  height: 150px;
  padding: 0;
  
  h4 {
    text-transform: uppercase;
  }

  .each-document-in-stack-topbar {
    background-color: $opaque-white;
    min-height: 20px;
    padding: $primary-padding;
    font-size: 10px;

    .pull-left {
      float: left;
      text-transform: capitalize;
    }

    .pull-right {
      float: right;
    }
  }

  .each-document-in-stack-title {
    clear: both;
    margin-top: 10px;
  }
}



.top-nav-bar {
  background-color: $opague-black!important;
  box-shadow: none !important;
  margin-bottom: 20px;
}

.drawerHeader {
  background: $primary-crimson !important;
}

.drawerUsername {
  background: currentColor;
  -webkit-text-fill-color: $primary-crimson !important;
  font-family: Roboto,Arial,sans-serif;
  font-weight: $slim-font;
}

.profile-tabs {
  .profile-avatar-username {
    -webkit-text-fill-color: $primary-crimson !important;
    font-family: Roboto,Arial,sans-serif;
    font-weight: $slim-font;
  }
  .profile-user-info span {
    color: $opaque-white;
    font-weight: $slim-font;
  }

  .profile-user-info h3 {
    font-weight: $heavy-font;
    text-transform: uppercase;
    font-size: 40px;
    text-align: left;
    line-height: 1;
    display: block;
    word-wrap: break-word;
  }

  > div {
    background: transparent !important;
  }
  .profile-delete-button {
    margin-top: 20px;
    clear: both;
  }
}

.markdown-editor-add,
.markdown-editor-edit {
  div {
    border: none !important;
    background: transparent !important;
  }
  .md-editor-tabs-item span {
    color: #000 !important;
  }
  .md-editor-menu div i, .md-editor-menu div span {
    color: #000;
  }
  .md-editor-header {
      background: whitesmoke !important;
      width: 104% !important;
      padding: 0 !important;
      margin: 0 !important;
  }
  
  textarea.md-editor-textarea:active,
  textarea.md-editor-textarea:focus {
    outline: none;
  }
}

.markdown-editor-add {
  input, .app-select-dropdown div div {
    color: $primary-white !important;
  }
  textarea.md-editor-textarea {
    background: transparent !important;
    border: 1px solid whitesmoke !important;
    width: 104% !important;
    margin-bottom: 20px;
    color: #fff;
  }
}

.markdown-editor-edit {
  textarea.md-editor-textarea {
    border: 1px solid whitesmoke !important;
    width: 104% !important;
    margin-bottom: 20px;
    color: #333;
  }
  div:last-child {
    color: #333;
  }
}

.side-menu {
  font-weight: $heavy-font;
}
.side-menu a:hover {
  text-decoration: none !important;
}

svg {
  color: $primary-white !important;
}

.button {
  color: $primary-crimson !important;
}

.edit-document-form input {
  color: #333 !important;
}
.call-to-action {
    margin-top: 20%;
  h1 {
    -webkit-font-smoothing: antialiased;
    font-weight: 300;
    font-size: 45px;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5), 1px -1px 0 rgba(0,0,0,.5), -1px 1px 0 rgba(0,0,0,.5), 1px 1px 0 rgba(0,0,0,.5);
    font-family: Roboto,Arial,sans-serif;
    display: inline;
    padding: 5px;
    line-height: 1.5;
  }
}

.call-to-action-button {
  margin-top: 9%;
  display: inline-block;
  height: 100px;
  width: 100px;
  border-radius: 100%;
  background: $opague-black;
  font-size: 16px;
  color: $primary-white;
  border: 2px solid $primary-white; 
  box-shadow: 0 0 4px rgba(0,0,0,0.5);
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
}

.call-to-action-button:hover {
  background: rgba(0, 0, 0, .3);
  outline: none;
}

.document-view-dialog {
  color: #000;
  text-shadow: none;
  font-weight: 500;
  text-align: justify;
  h3 {
    color: #000;
    text-shadow: none !important;
    font-weight: 500 !important;
    text-align: center;
    margin: 0 !important;
  }
  .document-date, .document-user {
    color: #555;
    font-weight: 500;
    font-size: 12px;
  }
  .document-date {
    float: left;
  }
  .document-user {
    float: right;
  }
}

.app-breadcum {
  font-size: $body-font;
  font-style: italic;
}

.form-container input[type='text'],
.edit-profile-container input[type='text'],
  label, .profile-select-role div {
  color: $primary-white !important;
}

.form-container,
.edit-profile-container,
.edit-document-form {
  h1, h2, h3, h4, h5, h6 {
    text-align: center;
  }
}

.dashboard-search label, .dashboard-search input {
  color: $primary-white !important;
}

.dashboard-search {
  margin: 20px 0 0 0;
  background: $opague-black;
  padding: 0 15px 15px 15px;
  color: $primary-white !important;
}

.document-stack-icon {
  margin: 0 20px;
  svg {
    cursor: pointer;
    height: 20px !important;
    margin: 0 auto;
  }
}

.pagination {
  background: $primary-white;
  padding: $primary-padding;
  text-align: center;
}

.users-list-table {
  background: $opague-black !important;

  th {
    font-weight: bold !important;
  }

  td, th {
    color: $primary-white !important;
    font-size: 16px !important;
  }
}

.profile-container,
.form-container {
  background: $opague-black;
  color: $primary-white !important;
  padding: 20px 20px 20px 20px;
}

.feed-document-count {
  background: $opague-black;
  display: inline-block;
  padding: 7px;
  margin-bottom: 0;
  font-size: 16px
}

.hermes-footer {
  width: 100%;
  z-index: 1;
  padding: 10px;
  text-align: center;
  
  .hermes-footer-text {
    color: $primary-white;
    background: $opague-black;
    display: inline-block;
    padding: 10px;
  }
}




